@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
}
.big-mummy{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: blue;
    color: white;
    width: 35rem;
    height: 35rem;
    margin-top: 2.5rem;
    margin-left: 30rem;
    justify-content: center;
    
}
img{
    margin-top: 2px;
    margin-bottom: 9px;
    width: 150px;
    border-radius: 100px;
    border: 2px solid rgb(92, 92, 235);
}

.profile-data{
   display: flex;
   flex-direction: column;
   align-self: center;
   line-height: 25px;
   font-weight: 700;
    
}

.profile-content{
    
    justify-content: center;
    font-size: 20px;
    width: 250px;
    /* background: yellow;   */
}

.profile-title{
    text-transform: uppercase;
    font-size: 8px;
    margin-bottom: -6px;
}

.profile-card{
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */

}
.card{
    background-color: white;
    color: black;
    width: 120px;
    height: 120px;
    border-bottom: 3px solid orange;
    
}
.card-1{
    background-color: white;
    color: black;
    width: 120px;
    height: 120px;
    border-bottom: 3px solid aqua;
}
.card-2{
    background-color: white;
    color: black;
    width: 120px;
    height: 120px;
    border-bottom: 3px solid gray;
}
.card-3{
    background-color: white;
    color: black;
    width: 120px;
    height: 120px;
    border-bottom: 3px solid yellow;
}

.card i{
    border: 1px solid red;
    margin-left: -65px;
    margin-top: 15px;
}
.card-1 i{
    border: 1px solid red;
    margin-left: -65px;
    margin-top: 15px;
}
.card-2 i{
    border: 1px solid red;
    margin-left: -65px;
    margin-top: 15px;
}
.card-3 i{
    border: 1px solid red;
    margin-left: -65px;
    margin-top: 15px;
}

.card h3{
    font-size: 13px;
    margin-left: -15px;
    margin-top: 15px;
}

.card-1 h3{
    font-size: 13px;
    margin-left: -15px;
    margin-top: 15px;
}
.card-2 h3{
    font-size: 13px;
    margin-left: -15px;
    margin-top: 15px;
}

.card-3 h3{
    font-size: 13px;
    margin-left: -15px;
    margin-top: 15px;
}


.card h4{
    text-decoration: underline;
    font-size: 10px;
    margin-left: -15px;
    margin-top: 15px;
}

.card-1 h4{
    text-decoration: underline;
    font-size: 10px;
    margin-left: -15px;
    margin-top: 15px;
}
.card-2 h4{
    text-decoration: underline;
    font-size: 10px;
    margin-left: -15px;
    margin-top: 15px;
}

.card-3 h4{
    text-decoration: underline;
    font-size: 10px;
    margin-left: -15px;
    margin-top: 15px;
}
h4{
    text-decoration: underline;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 30px;
    align-self: center;
    /* line-height: 25px; */

}
p{
    margin-bottom: 30px; 
}

button{
    background: transparent;
    color: white;
    font-size: 8px;
    padding: 7px;
    border: 1px solid white;
    width: 100px;
    align-self: center;text-transform: uppercase;
}
